.skillsContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: stretch; 
    gap: 10px; 
}

.skillContainer {
    flex: 1 1 200px; 
    max-width: 25%; 
    box-sizing: border-box;
    border: 1px solid #e1e0e0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 150px; 
    border-radius: 0.5rem;
}

.skillChipContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skillType {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.skillChip {
    flex: 0 0 33.333%; 
    font-size: 0.7rem;
    padding: 4px 8px;
}


@media only screen and (max-width:1023px){
    .skillContainer {
        max-width: 100%; 
        border: 1px solid #e1e0e0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        min-height: 150px; 
        border-radius: 0.5rem;
    }

    .skillsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: stretch; 
        gap: 10px; 
    }
    
 }